### CAR LISTING DATA ANALYSIS ###

Here we will use a dataset from German eBay about cars, we'll try to find some insights with regards to cars as well as practice some data cleaning techniques.

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv("autos.csv", encoding="Latin-1")

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

As we can see, the data set has 20 columns and a consistent number of 50,000 entries in most columns but for a few. We'll try to find what are the issues with those datapoints.

In [4]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [5]:
col_dict = {}
a = 0
for c in autos.columns:
    col_dict[a] = c
    a += 1

copy_col = []
for c in autos.columns:
    copy_col.append(c)

In [6]:
print(col_dict)

{0: 'dateCrawled', 1: 'name', 2: 'seller', 3: 'offerType', 4: 'price', 5: 'abtest', 6: 'vehicleType', 7: 'yearOfRegistration', 8: 'gearbox', 9: 'powerPS', 10: 'model', 11: 'odometer', 12: 'monthOfRegistration', 13: 'fuelType', 14: 'brand', 15: 'notRepairedDamage', 16: 'dateCreated', 17: 'nrOfPictures', 18: 'postalCode', 19: 'lastSeen'}

In [7]:
copy_col[7] = copy_col[7].replace("yearOfRegistration", "reg_year")
copy_col[12] = copy_col[12].replace("monthOfRegistration", "reg_month")
copy_col[15] = copy_col[15].replace("notRepairedDamage", "unrepaired")
copy_col[16] = copy_col[16].replace("dateCreated", "ad_created")
copy_col[0] = copy_col[0].replace("dateCrawled", "date_crawled")
copy_col[3] = copy_col[3].replace("offerType", "offer_type")
copy_col[5] = copy_col[5].replace("abtest", "ab_test")
copy_col[6] = copy_col[6].replace("vehicleType", "vehicle_type")
copy_col[9] = copy_col[9].replace("powerPS", "power_ps")
copy_col[13] = copy_col[13].replace("fuelType", "fuel_type")
copy_col[17] = copy_col[17].replace("nrOfPictures", "amount_pics")
copy_col[18] = copy_col[18].replace("postalCode", "postal_code")
copy_col[19] = copy_col[19].replace("lastSeen", "last_seen")

In [8]:
autos.columns = copy_col

In [9]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,reg_year,gearbox,power_ps,model,odometer,reg_month,fuel_type,brand,unrepaired,ad_created,amount_pics,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

We've changed the column names from *camelcase* to *snakecase* since it better aligns with Python nomenclature usage.

In [10]:
autos.describe()

           reg_year      power_ps     reg_month  amount_pics   postal_code
count  50000.000000  50000.000000  50000.000000      50000.0  50000.000000
mean    2005.073280    116.355920      5.723360          0.0  50813.627300
std      105.712813    209.216627      3.711984          0.0  25779.747957
min     1000.000000      0.000000      0.000000          0.0   1067.000000
25%     1999.000000     70.000000      3.000000          0.0  30451.000000
50%     2003.000000    105.000000      6.000000          0.0  49577.000000
75%     2008.000000    150.000000      9.000000          0.0  71540.000000
max     9999.000000  17700.000000     12.000000          0.0  99998.000000

After using `describe()` on the autos dataframe, we can see some columns have a reallw low count of values, which mean they're not very useful for our analysis. We find those by comparing the `freq` value with the `count` value. This is because even if the `unique` value is low, the distribution may still be relevant if they're similarly sized, but when a single element covers more than 90% of the values, said column can be declared irrelevant.

So far, said columns appear to be: **seller and offer_type.**

Columns that need more investigation are: **ab_test, gearbox, odometer, fuel_type and unrepaired.**

We can also see **odometer and price** are stored as text, because the math operations give us NaN values, which it wouldn't happen if they were stored as numeric data.

**reg_year, reg_month and postal_code** are stored as numeric data, but they need to be written as text.

In [11]:
autos["odometer"].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

In [12]:
# We've devised a cleaning function that works for any set of strings, and allows us to
# determine what we want to remove in a dynamic manner, by passing a list of elements as a parameter.
def clean_strings(string, garbage):
    for g in garbage:
        string = string.replace(g, "")
    return string

new_prices = []
for c in autos["price"]:
    temp = clean_strings(c, ["$", ","])
    new_prices.append(temp)
    
autos["price"] = new_prices
autos["price"] = autos["price"].astype(int)

new_odo = []
for c in autos["odometer"]:
    temp = clean_strings(c, ["km", ","])
    new_odo.append(temp)

autos["odometer"] = new_odo
autos["odometer"] = autos["odometer"].astype(int)

In [13]:
autos.rename(columns={'odometer': 'odometer_km'}, inplace=True)

In [14]:
autos["odometer_km"].unique().shape

(13,)

In [15]:
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [16]:
autos["odometer_km"].value_counts().sort_index(ascending=False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

In [17]:
autos["odometer_km"].value_counts(bins=4).sort_index(ascending=False)

(113750.0, 150000.0]    37594
(77500.0, 113750.0]      5362
(41250.0, 77500.0]       3421
(4854.999, 41250.0]      3623
Name: odometer_km, dtype: int64

Using bins to determine where most of the values reside, we find that **85% of values are higher than 77,000**, we'll drop anything that's below 50,000 kilometers, as it would skew our results too much.

In [18]:
autos = autos[autos["odometer_km"].between(50000,150000)]

In [19]:
autos["price"].describe()

count    4.637700e+04
mean     8.824777e+03
std      4.828025e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.750000e+03
75%      6.500000e+03
max      1.000000e+08
Name: price, dtype: float64

In [20]:
type(autos["price"][0])

numpy.int64

In [21]:
autos["price"].unique().shape

(2092,)

In [22]:
autos["price"].value_counts().sort_index(ascending=False)

99999999       1
12345678       3
11111111       2
10000000       1
1300000        1
1234566        1
999999         2
999990         1
299000         1
197000         1
190000         1
180000         1
145000         1
130000         1
129000         1
128000         1
120000         1
119500         1
105000         2
99900          2
99000          1
98500          1
94999          1
93911          1
86500          1
80000          2
79999          1
79933          1
78911          1
75997          1
            ...
110            2
100          118
99            18
90             5
89             1
80            12
79             1
75             5
70             4
66             1
65             3
60             6
55             2
50            35
49             2
47             1
45             2
40             3
30             2
25             1
20             1
14             1
13             1
12             1
11             2
10             4
5              2
3              1
1            131
0           1246
Name: price, Length: 2092, dtype: int64

This column has a wild variety of values, but more importantly, it has several outliers, some of which are clearly wrong data. In order to attain better results, we're gonna limit the values to those between 1,000 and 200,000 dollars and see what we can gather from there.

In [23]:
autos[autos["price"].between(100,20000)].describe()

,price,reg_year,power_ps,odometer_km,reg_month,amount_pics,postal_code
count,43385.000000,43385.000000,43385.000000,43385.000000,43385.000000,43385.0,43385.000000
mean,4360.989121,2003.039553,112.674381,134875.187277,5.808390,0.0,50758.828443
std,4320.889782,6.920214,192.506257,27425.342114,3.690416,0.0,25689.587361
min,100.000000,1910.000000,0.000000,50000.000000,0.000000,0.0,1067.000000
25%,1200.000000,1999.000000,71.000000,125000.000000,3.000000,0.0,30455.000000
50%,2750.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49479.000000
75%,6150.000000,2007.000000,143.000000,150000.000000,9.000000,0.0,71277.000000
max,20000.000000,2019.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

After playing with the limits, we find that the best representation falls between $100 and $20,000.

In [24]:
autos = autos[autos["price"].between(100,20000)]

In [25]:
autos.describe()

,price,reg_year,power_ps,odometer_km,reg_month,amount_pics,postal_code
count,43385.000000,43385.000000,43385.000000,43385.000000,43385.000000,43385.0,43385.000000
mean,4360.989121,2003.039553,112.674381,134875.187277,5.808390,0.0,50758.828443
std,4320.889782,6.920214,192.506257,27425.342114,3.690416,0.0,25689.587361
min,100.000000,1910.000000,0.000000,50000.000000,0.000000,0.0,1067.000000
25%,1200.000000,1999.000000,71.000000,125000.000000,3.000000,0.0,30455.000000
50%,2750.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49479.000000
75%,6150.000000,2007.000000,143.000000,150000.000000,9.000000,0.0,71277.000000
max,20000.000000,2019.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

With the remaining values, we can see that roughly 86% of values remain, which so fars feels like a good chunk of outlier data has been removed.

In [26]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,reg_year,gearbox,power_ps,model,odometer_km,reg_month,fuel_type,brand,unrepaired,ad_created,amount_pics,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [27]:
autos[["date_crawled", "ad_created", "last_seen"]][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [28]:
autos["date_crawled"].str[0:10][0:5]

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: date_crawled, dtype: object

In [29]:
crawled = autos["date_crawled"].str[0:10]

In [30]:
crawled.describe()

count          43385
unique            34
top       2016-04-03
freq            1667
Name: date_crawled, dtype: object

In [31]:
round(crawled.value_counts(normalize=True, dropna=False)*100,2).sort_index()

2016-03-05    2.54
2016-03-06    1.40
2016-03-07    3.60
2016-03-08    3.39
2016-03-09    3.31
2016-03-10    3.25
2016-03-11    3.20
2016-03-12    3.74
2016-03-13    1.54
2016-03-14    3.70
2016-03-15    3.40
2016-03-16    2.95
2016-03-17    3.14
2016-03-18    1.28
2016-03-19    3.46
2016-03-20    3.78
2016-03-21    3.71
2016-03-22    3.27
2016-03-23    3.23
2016-03-24    2.93
2016-03-25    3.16
2016-03-26    3.29
2016-03-27    3.08
2016-03-28    3.49
2016-03-29    3.41
2016-03-30    3.37
2016-03-31    3.16
2016-04-01    3.32
2016-04-02    3.55
2016-04-03    3.84
2016-04-04    3.68
2016-04-05    1.32
2016-04-06    0.32
2016-04-07    0.14
Name: date_crawled, dtype: float64

Checking on the date_crawled column, we can see that the crawling rate was around 3% of values per day.

In [32]:
created = autos["ad_created"].str[0:10]

In [33]:
created.describe()

count          43385
unique            72
top       2016-04-03
freq            1680
Name: ad_created, dtype: object

In [34]:
round(created.value_counts(normalize=True, dropna=False)*100,32).sort_index()

2015-08-10    0.002305
2015-09-09    0.002305
2015-11-10    0.002305
2015-12-05    0.002305
2015-12-30    0.002305
2016-01-03    0.002305
2016-01-07    0.002305
2016-01-10    0.004610
2016-01-13    0.002305
2016-01-16    0.002305
2016-01-22    0.002305
2016-01-27    0.006915
2016-01-29    0.002305
2016-02-01    0.002305
2016-02-02    0.004610
2016-02-05    0.004610
2016-02-07    0.002305
2016-02-08    0.002305
2016-02-11    0.002305
2016-02-12    0.004610
2016-02-14    0.004610
2016-02-16    0.002305
2016-02-18    0.004610
2016-02-19    0.004610
2016-02-20    0.004610
2016-02-21    0.006915
2016-02-22    0.002305
2016-02-23    0.006915
2016-02-24    0.002305
2016-02-25    0.004610
                ...
2016-03-09    3.314510
2016-03-10    3.217702
2016-03-11    3.240751
2016-03-12    3.727095
2016-03-13    1.680304
2016-03-14    3.556529
2016-03-15    3.374438
2016-03-16    3.007952
2016-03-17    3.097845
2016-03-18    1.357612
2016-03-19    3.351389
2016-03-20    3.782413
2016-03-21    3.729400
2016-03-22    3.261496
2016-03-23    3.220007
2016-03-24    2.922669
2016-03-25    3.173908
2016-03-26    3.291460
2016-03-27    3.072490
2016-03-28    3.505820
2016-03-29    3.415927
2016-03-30    3.344474
2016-03-31    3.171603
2016-04-01    3.323729
2016-04-02    3.519650
2016-04-03    3.872306
2016-04-04    3.724790
2016-04-05    1.187046
2016-04-06    0.329607
2016-04-07    0.126772
Name: ad_created, Length: 72, dtype: float64

In this case, we can see that very few ads were created before March 2016, with less than hundredth of 1% per day before March the 1st.

In [35]:
seen = autos["last_seen"].str[0:10]

In [36]:
seen.describe()

count          43385
unique            34
top       2016-04-06
freq            9384
Name: last_seen, dtype: object

In [37]:
round(seen.value_counts(normalize=True, dropna=False)*100,32).sort_index()

2016-03-05     0.106027
2016-03-06     0.460989
2016-03-07     0.573931
2016-03-08     0.783681
2016-03-09     0.995736
2016-03-10     1.085629
2016-03-11     1.316123
2016-03-12     2.436326
2016-03-13     0.917368
2016-03-14     1.281549
2016-03-15     1.606546
2016-03-16     1.689524
2016-03-17     2.901925
2016-03-18     0.744497
2016-03-19     1.650340
2016-03-20     2.152818
2016-03-21     2.111329
2016-03-22     2.175867
2016-03-23     1.896969
2016-03-24     2.042180
2016-03-25     1.970727
2016-03-26     1.701049
2016-03-27     1.595021
2016-03-28     2.150513
2016-03-29     2.316469
2016-03-30     2.544658
2016-03-31     2.436326
2016-04-01     2.339518
2016-04-02     2.503169
2016-04-03     2.528524
2016-04-04     2.519304
2016-04-05    12.151665
2016-04-06    21.629595
2016-04-07    12.684107
Name: last_seen, dtype: float64

More than 45% of values were last seen on the last three days.

In [38]:
autos["reg_year"].describe()

count    43385.000000
mean      2003.039553
std          6.920214
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2007.000000
max       2019.000000
Name: reg_year, dtype: float64

In [39]:
round(autos["reg_year"].value_counts(normalize=True, dropna=False)*100,32).sort_index()

1910    0.002305
1934    0.002305
1937    0.002305
1948    0.002305
1952    0.002305
1953    0.002305
1954    0.004610
1956    0.004610
1958    0.006915
1959    0.006915
1960    0.029964
1961    0.004610
1962    0.004610
1963    0.016135
1964    0.018440
1965    0.027659
1966    0.027659
1967    0.041489
1968    0.025354
1969    0.025354
1970    0.043794
1971    0.034574
1972    0.050709
1973    0.043794
1974    0.025354
1975    0.025354
1976    0.041489
1977    0.043794
1978    0.071453
1979    0.057624
          ...
1990    0.689178
1991    0.749107
1992    0.785986
1993    0.935807
1994    1.371442
1995    2.613807
1996    3.033306
1997    4.330990
1998    5.232223
1999    6.479198
2000    6.935577
2001    5.896047
2002    5.543391
2003    6.101187
2004    6.071223
2005    6.490723
2006    5.955976
2007    4.957935
2008    4.718221
2009    4.301026
2010    2.918059
2011    2.682955
2012    1.650340
2013    0.571626
2014    0.117552
2015    0.006915
2016    2.551573
2017    3.005647
2018    1.016480
2019    0.002305
Name: reg_year, Length: 70, dtype: float64

In [40]:
autos["reg_year"].value_counts(bins=4, normalize=True)*100

(1991.75, 2019.0]     96.277515
(1964.5, 1991.75]      3.611847
(1937.25, 1964.5]      0.103722
(1909.89, 1937.25]     0.006915
Name: reg_year, dtype: float64

Aroud 96% of values range between 1991-2016, so we'll stick to that range.

In [41]:
autos = autos[autos["reg_year"].between(1991,2016)]

In [42]:
autos["brand"].value_counts(normalize=True)*100

volkswagen        21.363603
opel              11.435228
bmw               10.991598
mercedes_benz      9.033681
audi               8.339736
ford               7.266599
renault            5.070758
peugeot            3.264021
fiat               2.587425
seat               1.918263
skoda              1.615901
mazda              1.598553
nissan             1.576247
citroen            1.454807
smart              1.427545
toyota             1.306104
hyundai            1.006221
volvo              0.949218
mitsubishi         0.867432
honda              0.822821
mini               0.788124
kia                0.698902
alfa_romeo         0.693945
suzuki             0.589854
sonstige_autos     0.488240
chevrolet          0.475848
chrysler           0.379192
daihatsu           0.252794
subaru             0.220575
dacia              0.213140
jeep               0.208184
saab               0.175965
daewoo             0.163573
porsche            0.158616
land_rover         0.156138
rover              0.148703
jaguar             0.138789
lancia             0.101613
lada               0.047089
trabant            0.004957
Name: brand, dtype: float64

We'll stick to brands with 1% or higher.

In [43]:
brand_bool = autos["brand"].value_counts(normalize=True)*100 > 1
brands = brand_bool[autos["brand"].value_counts(normalize=True)*100 > 1].index
brands

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'mazda', 'nissan', 'citroen',
       'smart', 'toyota', 'hyundai'],
      dtype='object')

In [44]:
autos["price"].mean()

4398.198394012244

In [45]:
top_brands = {}
for a in brands:
    mean = autos[autos["brand"] == a]["price"].mean()
    top_brands[a] = round(mean, 2)

In [46]:
top_brands

{'audi': 6485.09,
 'bmw': 6375.59,
 'citroen': 3296.9,
 'fiat': 2298.78,
 'ford': 2899.85,
 'hyundai': 4623.29,
 'mazda': 3458.08,
 'mercedes_benz': 6047.74,
 'nissan': 4089.07,
 'opel': 2659.47,
 'peugeot': 2883.18,
 'renault': 2121.19,
 'seat': 3684.29,
 'skoda': 5394.73,
 'smart': 3194.48,
 'toyota': 4456.53,
 'volkswagen': 4455.8}

As it might be expected, the most valuable brands are **Audi, BMW, Mercedes Benz**, then the least valuable ones are **Renault, Fiat and Opel**. Brands around the overall mean are **Hyundai, Toyota and Volkswagen**

In [47]:
top_price_brands = {}
for a in brands:
    mean = autos[autos["brand"] == a]["price"].mean()
    top_price_brands[a] = round(mean, 2)

top_mileage_brands = {}
for a in brands:
    mean = autos[autos["brand"] == a]["odometer_km"].mean()
    top_mileage_brands[a] = round(mean, 2)

In [48]:
bmp_series = pd.Series(top_price_brands)
bmm_series = pd.Series(top_mileage_brands)

In [49]:
df = pd.DataFrame(bmp_series, columns=["mean_price"])
df = df.assign(mean_mileage = lambda x: bmm_series)
df.sort_values(by="mean_price", ascending=False)

               mean_price  mean_mileage
audi              6485.09     140946.51
bmw               6375.59     140656.14
mercedes_benz     6047.74     140090.53
skoda             5394.73     124486.20
hyundai           4623.29     118201.97
toyota            4456.53     124791.27
volkswagen        4455.80     137216.36
nissan            4089.07     127114.78
seat              3684.29     130161.50
mazda             3458.08     132604.65
citroen           3296.90     127316.87
smart             3194.48     109548.61
ford              2899.85     132392.56
peugeot           2883.18     131913.44
opel              2659.47     136177.94
fiat              2298.78     127710.73
renault           2121.19     134640.76

There's a small trend in expensive cars having a higher mean mileage with the three most expensive ones being also the ones with the highest mileage in the same exact order. It's also interesting that the five brands with the highest mean mileages are German brands.

In [56]:
# Here we'll create a dictionary to map the categorical data on vehicle_type

types_dict = {}

v_types = autos["vehicle_type"].unique()
v_types[2] = "small_car"
v_types[1] = "limo"
v_types[3] = "station_wagon"
v_types[6] = "convertible"
v_types[8] = "other"

for a in range(len(types)):
    types_dict[autos["vehicle_type"].unique()[a]] = v_types[a]

array(['bus', 'limousine', 'kleinwagen', 'kombi', nan, 'suv', 'cabrio',
       'coupe', 'andere'], dtype=object)

In [71]:
autos["model"].unique()

array(['andere', '7er', 'golf', 'fortwo', 'focus', 'voyager', 'arosa',
       'megane', nan, 'a3', 'clio', 'vectra', '3er', 'a4', 'polo',
       'cooper', 'e_klasse', 'c_klasse', 'corsa', '5er', 'mondeo',
       'altea', 'a1', 'twingo', 'a_klasse', '3_reihe', 's_klasse',
       'passat', 'primera', 'wrangler', 'sandero', 'a6', 'astra', 'v40',
       'ibiza', 'micra', '1er', 'yaris', 'colt', '6_reihe', '5_reihe',
       'corolla', 'transporter', 'punto', 'vito', 'cordoba', 'galaxy',
       '100', '2_reihe', 'octavia', 'm_klasse', 'lupo', 'fiesta',
       'superb', 'meriva', 'laguna', '1_reihe', 'touareg', 'seicento',
       'touran', 'avensis', 'ducato', 'tigra', 'carnival', 'signum',
       'sharan', 'zafira', 'ka', 'rav', 'a5', 'beetle', 'c_reihe',
       'phaeton', 'sl', 'insignia', 'civic', '80', 'mx_reihe', 'omega',
       'x_reihe', 'sorento', 'z_reihe', 'berlingo', 'scirocco', 'clk',
       's_max', 'kalos', 'cx_reihe', 'grand', 'swift', 'vivaro',
       'sprinter', 'almera', 'viano', 'picanto', 'espace', 'scenic',
       'bora', 'fox', 'leon', 'transit', 'tucson', 'tt', 'qashqai',
       'jazz', 'nubira', 'v70', 'duster', 'stilo', 'justy', 'kangoo',
       'fabia', 'cl', 'matiz', 'freelander', 'one', 'forester', 's_type',
       'bravo', '500', '156', 'cr_reihe', 'toledo', 'panda', 'a8', 'ceed',
       'caddy', 'aygo', 'i_reihe', 'exeo', 'c1', 'doblo', 'impreza',
       '147', 'agila', '145', 'c3', 'roomster', 'auris', '601', 'eos',
       'aveo', 'slk', 'terios', 'm_reihe', 'fusion', 'c4', 'materia',
       'v50', 'combo', '900', 'yeti', '850', 'outlander', 'rio', 'escort',
       'c2', 'jimny', 'c_max', 'forfour', 'a2', 'spider', 'b_klasse',
       'carisma', 'cayenne', 'r19', 'cc', 'logan', 'xc_reihe', 'verso',
       'v_klasse', 'jetta', 'up', 'c5', 'getz', 'navara', 'x_type',
       'clubman', 's60', '4_reihe', 'cherokee', 'q7', 'roadster',
       'captiva', 'cuore', 'ptcruiser', 'kuga', 'x_trail', 'boxster',
       'ypsilon', 'note', 'lancer', 'pajero', 'rx_reihe', 'modus',
       'sportage', 'calibra', 'sirion', 'glk', 'gl', 'tiguan', 'santa',
       '300c', 'antara', 'accord', 'crossfire', '159', 'lybra', 'q5',
       'niva', 'galant', 'legacy', 'range_rover', 'delta', 'juke',
       'spark', 'mustang', 'lanos', 'v60', 'kadett', 'alhambra', 'citigo',
       '6er', 'mii', 'discovery', 'range_rover_sport', 'defender', '911',
       'move', 'croma', 'kaefer', 'samara', 'kappa', 'q3', 'g_klasse',
       'lodgy', '9000', '90', 'charade', 'i3', 'range_rover_evoque',
       'b_max'], dtype=object)

In [74]:
# Here we'll translate some german words from the model column using a function
def clean_model(string):
    string = str(string)
    string = string.replace("andere", "other")
    string = string.replace("klasse", "class")
    string = string.replace("reihe", "line")
    return string

new_models = []
autos["model"].unique()
new_prices = []
for c in autos["model"]:
    temp = clean_model(c)
    new_models.append(temp)
    
autos["model"] = new_models
autos["model"]

0          other
1            7er
2           golf
3         fortwo
4          focus
5        voyager
6           golf
7           golf
8          arosa
9         megane
11           nan
12        fortwo
13            a3
14          clio
16        vectra
18           3er
19         other
20            a4
23           nan
26          polo
28        cooper
29       e_class
31       c_class
32         corsa
33            a3
34           5er
35        mondeo
36        mondeo
37         altea
38          golf
          ...
49962      other
49963    b_class
49964         a4
49965      astra
49966         c1
49967     passat
49969    x_trail
49970         c4
49971       lupo
49972       vito
49973        slk
49975       jazz
49976         80
49977    c_class
49978    e_class
49979       polo
49980     escort
49981      astra
49982      fabia
49983      focus
49985        nan
49986       300c
49988        3er
49989       polo
49991     twingo
49992      other
49993        nan
49994         a6
49996      astra
49999     vectra
Name: model, Length: 40349, dtype: object

In [80]:
round(autos["brand"].value_counts(normalize=True)*100,2)

volkswagen        21.36
opel              11.44
bmw               10.99
mercedes_benz      9.03
audi               8.34
ford               7.27
renault            5.07
peugeot            3.26
fiat               2.59
seat               1.92
skoda              1.62
mazda              1.60
nissan             1.58
citroen            1.45
smart              1.43
toyota             1.31
hyundai            1.01
volvo              0.95
mitsubishi         0.87
honda              0.82
mini               0.79
kia                0.70
alfa_romeo         0.69
suzuki             0.59
sonstige_autos     0.49
chevrolet          0.48
chrysler           0.38
daihatsu           0.25
subaru             0.22
dacia              0.21
jeep               0.21
saab               0.18
daewoo             0.16
porsche            0.16
land_rover         0.16
rover              0.15
jaguar             0.14
lancia             0.10
lada               0.05
trabant            0.00
Name: brand, dtype: float64

In [81]:
round(autos["model"].value_counts(normalize=True)*100,2)

golf                  8.03
other                 6.07
3er                   5.89
nan                   4.20
corsa                 3.69
polo                  3.65
astra                 3.18
passat                3.15
a4                    2.87
c_class               2.57
5er                   2.47
e_class               1.94
a3                    1.80
a6                    1.78
focus                 1.76
fiesta                1.61
twingo                1.43
2_line                1.42
vectra                1.29
transporter           1.27
a_class               1.23
fortwo                1.17
mondeo                1.15
3_line                1.15
1er                   1.10
clio                  1.09
touran                0.99
punto                 0.98
zafira                0.94
ka                    0.82
                      ...
g_class               0.02
cx_line               0.02
911                   0.02
move                  0.02
nubira                0.02
crossfire             0.01
exeo                  0.01
range_rover           0.01
range_rover_sport     0.01
citigo                0.01
materia               0.01
kaefer                0.01
glk                   0.01
9000                  0.01
samara                0.01
delta                 0.01
145                   0.01
croma                 0.01
charade               0.01
v60                   0.00
lodgy                 0.00
q3                    0.00
kappa                 0.00
mii                   0.00
90                    0.00
b_max                 0.00
601                   0.00
gl                    0.00
i3                    0.00
range_rover_evoque    0.00
Name: model, Length: 242, dtype: float64

In [93]:
brand_model = []
for a in autos["brand"].unique():
    for b in autos[autos["brand"] == a]["model"]:
        brand_model.append(a + " " + b)

In [107]:
autos["brand_model"] = brand_model

In [109]:
round(autos["brand_model"].value_counts(normalize=True)*100, 2)

volkswagen golf                  8.03
bmw 3er                          5.89
opel corsa                       3.69
volkswagen polo                  3.65
opel astra                       3.18
volkswagen passat                3.15
audi a4                          2.87
mercedes_benz c_class            2.57
bmw 5er                          2.47
mercedes_benz e_class            1.94
audi a3                          1.80
audi a6                          1.78
ford focus                       1.76
ford fiesta                      1.61
renault twingo                   1.43
peugeot 2_line                   1.42
opel vectra                      1.29
volkswagen transporter           1.27
mercedes_benz a_class            1.23
smart fortwo                     1.17
ford mondeo                      1.15
bmw 1er                          1.10
renault clio                     1.09
volkswagen touran                0.99
fiat punto                       0.98
opel zafira                      0.94
ford ka                          0.82
volkswagen nan                   0.80
renault megane                   0.79
volkswagen lupo                  0.77
                                 ...
saab nan                         0.01
lada samara                      0.01
lancia nan                       0.01
fiat croma                       0.01
daihatsu nan                     0.01
rover nan                        0.01
lancia delta                     0.01
daewoo nan                       0.01
audi q3                          0.00
rover freelander                 0.00
volvo v60                        0.00
dacia lodgy                      0.00
seat mii                         0.00
lancia kappa                     0.00
porsche nan                      0.00
rover discovery                  0.00
ford b_max                       0.00
jaguar nan                       0.00
land_rover nan                   0.00
dacia other                      0.00
lada nan                         0.00
land_rover range_rover_evoque    0.00
mercedes_benz gl                 0.00
bmw i3                           0.00
dacia nan                        0.00
trabant 601                      0.00
trabant nan                      0.00
lada other                       0.00
audi 90                          0.00
mini nan                         0.00
Name: brand_model, Length: 325, dtype: float64